<!-- News jumbotron -->
  <div class="jumbotron text-center hoverable p-4">

    <!-- Title -->
    <h2 class="card-title h2">Learning Material Design for Bootstrap</h2>

    <!-- Subtitle -->
    <p class="indigo-text my-4 font-weight-bold">Powerful and free Material Design UI KIT</p>
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">

        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">

        <!-- Excerpt -->
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><mdb-icon fas icon="desktop" class="pr-1"></mdb-icon> Work</h6>
        </a>

        <h4 class="h4 mb-4">Escenaris Bancaris</h4>

        <p class="font-weight-normal">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
        </p>
        <p class="font-weight-normal">by <a><strong>Jesus Cano</strong></a>, 19/04/2020</p>

        <a mdbBtn color="success" mdbWavesEffect [routerLink]="['/jesus']">Veure</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">

        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">

        <!-- Excerpt -->
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><mdb-icon fas icon="desktop" class="pr-1"></mdb-icon> Work</h6>
        </a>

        <h4 class="h4 mb-4">Condicions Bancàries</h4>

        <p class="font-weight-normal">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
        </p>
        <p class="font-weight-normal">by <a><strong>Georgina Suárez</strong></a>, 19/04/2020</p>

        <a mdbBtn color="success" mdbWavesEffect [routerLink]="['/georgina']">Veure</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 offset-md-1 mx-3 my-3">

        <!-- Featured image -->
        <div class="view overlay waves-light" mdbWavesEffect>
          <img src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-7 text-md-left ml-3 mt-3">

        <!-- Excerpt -->
        <a href="#!" class="green-text">
          <h6 class="h6 pb-1"><mdb-icon fas icon="desktop" class="pr-1"></mdb-icon> Work</h6>
        </a>

        <h4 class="h4 mb-4">Agrupacions de Contrapartides</h4>

        <p class="font-weight-normal">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
        </p>
        <p class="font-weight-normal">by <a><strong>David Laseras</strong></a>, 19/04/2020</p>

        <a mdbBtn color="success" mdbWavesEffect [routerLink]="['/xrskagrupacion']">Veure</a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
<!-- News jumbotron -->
