<!--Loader-->
    <app-loading-modal *ngIf="!loaded" class="section-position loader-position"></app-loading-modal>
<!--End Loader-->

<div id="cardContent" class="container-fluid bckground section-position">
  <div class="row">

    <div class="col-2"></div>

    <div class="col-8">

      <!-- Primera columna-->
      <div class="row">
        <div class="col">
          <mdb-card class="task mt-3">
            <mdb-card-body class="p-2 border-success border-left border-4 card-body">
              <mdb-card-title class="center-text">
                <a href="" class="lead font-weight-light">Apuntes Bancarios</a>
              </mdb-card-title>
              <mdb-card-text>
                <div class="row mt-2">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-blue-text mr-2"></mdb-icon>Nº de apuntes:</p></div>
                  <div class="col"><mdb-badge pill="true" color="light-blue">1256</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 cyan-text mr-2"></mdb-icon>Nº de Compañías:</p></div>
                  <div class="col"><mdb-badge pill="true" color="cyan">18</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 teal-text mr-2"></mdb-icon>Fecha de Entrada:</p></div>
                  <div class="col"><mdb-badge pill="true" color="teal">31/08/2020</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 green-text mr-2"></mdb-icon>Hora Inicio:</p></div>
                  <div class="col"><mdb-badge pill="true" color="green">7:45:15</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-green-text mr-2"></mdb-icon>Hora Fin:</p></div>
                  <div class="col"><mdb-badge pill="true" color="light-green">8:10:26</mdb-badge></div>
                </div>
              </mdb-card-text>
              <button class="btn btn-outline-success btn-sm float-right">Ir</button>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col">
          <mdb-card class="task mt-3">
            <mdb-card-body class="p-2 border-success border-left border-4 card-body">
              <mdb-card-title class="center-text">
                <a href="" class="lead font-weight-light">Movimientos (Previsiones)</a>
              </mdb-card-title>
              <mdb-card-text>
                <div class="row mt-2">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-blue-text mr-2"></mdb-icon>Nº de apuntes:</p></div>
                  <div class="col"><mdb-badge pill="true" color="light-blue">4560</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 cyan-text mr-2"></mdb-icon>Nº de Compañías:</p></div>
                  <div class="col"><mdb-badge pill="true" color="cyan">18</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 teal-text mr-2"></mdb-icon>Fecha de Entrada:</p></div>
                  <div class="col"><mdb-badge pill="true" color="teal">31/08/2020</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 green-text mr-2"></mdb-icon>Hora Inicio:</p></div>
                  <div class="col"><mdb-badge pill="true" color="green">5:00:00</mdb-badge></div>
                </div>
                <div class="row">
                  <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-green-text mr-2"></mdb-icon>Hora Fin:</p></div>
                  <div class="col"><mdb-badge pill="true" color="light-green">6:10:26</mdb-badge></div>
                </div>
              </mdb-card-text>
              <button class="btn btn-outline-success btn-sm float-right">Ir</button>
            </mdb-card-body>
          </mdb-card>
        </div>

      </div>

        <!-- Segona columna-->
        <div class="row">
          <div class="col">
            <mdb-card class="task mt-3">
              <mdb-card-body class="p-2 border-success border-left border-4 card-body">
                <mdb-card-title class="center-text">
                  <a href="" class="lead font-weight-light">Conciliación Automática</a>
                </mdb-card-title>
                <mdb-card-text>
                  <div class="row mt-2">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-blue-text mr-2"></mdb-icon>Nº de apuntes:</p></div>
                    <div class="col"><mdb-badge pill="true" color="light-blue">789</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 cyan-text mr-2"></mdb-icon>Nº de Compañías:</p></div>
                    <div class="col"><mdb-badge pill="true" color="cyan">16</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 teal-text mr-2"></mdb-icon>Fecha de Entrada:</p></div>
                    <div class="col"><mdb-badge pill="true" color="teal">31/08/2020</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 green-text mr-2"></mdb-icon>Hora Inicio:</p></div>
                    <div class="col"><mdb-badge pill="true" color="green">8:45:00</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-green-text mr-2"></mdb-icon>Hora Fin:</p></div>
                    <div class="col"><mdb-badge pill="true" color="light-green">8:52:26</mdb-badge></div>
                  </div>
                </mdb-card-text>
                <button class="btn btn-outline-success btn-sm float-right">Ir</button>
              </mdb-card-body>
            </mdb-card>
          </div>

          <div class="col">
            <mdb-card class="task mt-3">
              <mdb-card-body class="p-2 border-success border-left border-4 card-body">
                <mdb-card-title class="center-text">
                  <a href="" class="lead font-weight-light">Incorporación Automática</a>
                </mdb-card-title>
                <mdb-card-text>
                  <div class="row mt-2">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-blue-text mr-2"></mdb-icon>Nº de apuntes:</p></div>
                    <div class="col"><mdb-badge pill="true" color="light-blue">588</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 cyan-text mr-2"></mdb-icon>Nº de Compañías:</p></div>
                    <div class="col"><mdb-badge pill="true" color="cyan">12</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 teal-text mr-2"></mdb-icon>Fecha de Entrada:</p></div>
                    <div class="col"><mdb-badge pill="true" color="teal">31/08/2020</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 green-text mr-2"></mdb-icon>Hora Inicio:</p></div>
                    <div class="col"><mdb-badge pill="true" color="green">9:15:00</mdb-badge></div>
                  </div>
                  <div class="row">
                    <div class="col"><p><mdb-icon fas icon="circle" class="ml-2 light-green-text mr-2"></mdb-icon>Hora Fin:</p></div>
                    <div class="col"><mdb-badge pill="true" color="light-green">9:22:25</mdb-badge></div>
                  </div>
                </mdb-card-text>
                <button class="btn btn-outline-success btn-sm float-right">Ir</button>
              </mdb-card-body>
            </mdb-card>
          </div>
        </div>

      </div>

    <div class="col-2"></div>

  </div>

</div>




