<div class="container-fluid bgv2">

  <div class="bancosPosition">
    <p class="customTitles">BANCOS</p>
    <div class="Icons3dSize">
      <img src="assets/images/Edificio2Recurso2.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>

  <div class="ERPPosition">
    <p class="customTitles">ERP</p>
    <div class="Icons3dSize">
      <img src="assets/images/EdificioRecurso1.png" class="img-fluid" alt="Responsive image">
    </div>
  </div>

  <div class="xriskPosition">
    <div class="sizeImage">
      <img src="assets/images/database.png" class="img-fluid" alt="Responsive image">
    </div>
    <p class="customTitles">X-RISK</p>
  </div>

  <div class="conciliacionPosition">
    <div class="sizeImage">
      <img src="assets/images/building.png" class="img-fluid" alt="Responsive image">
    </div>
    <p class="customTitles">CONCILIACIÓN</p>
  </div>

  <div class="revisionPosition">
    <div class="sizeImage">
      <!--<img src="assets/images/building.png" class="img-fluid" alt="Responsive image">-->
    </div>
    <p class="customTitles">REVISIÓN</p>
  </div>

  <div class="incorporacionPosition">
    <div class="sizeImage">
      <img src="assets/images/building.png" class="img-fluid" alt="Responsive image">
    </div>
    <p class="customTitles">INCORPORACIÓN</p>
  </div>

  <!-- ICONS -->
  <i class="fas fa-circle bancosRedButton2 fa-2x" mdbTooltip="Apuntes" placement="top" (click)="redButtonClick('bancos')"></i>
  <i class="fas fa-circle bancosBlueButton2 fa-2x" (click)="blueButtonClick()" mdbTooltip="Informes" placement="bottom"></i>
  <i class="fas fa-circle ERPRedButton2 fa-2x" mdbTooltip="Movimientos" placement="top" (click)="redButtonClick('movimientos')"></i>
  <i class="fas fa-circle ERPBlueButton2 fa-2x" (click)="blueButtonClick()" mdbTooltip="Informes" placement="bottom"></i>
  <i class="fas fa-circle conciliacionRedButton2 fa-2x" mdbTooltip="Conciliados" placement="top" (click)="redButtonClick('conciliados')"></i>
  <i class="fas fa-circle conciliacionBlueButton2 fa-2x" (click)="blueButtonClick()" mdbTooltip="Informes" placement="bottom"></i>
  <i class="fas fa-circle revisionRedButton2 fa-2x" (click)="redButtonClick('revision')"></i>
  <i class="fas fa-circle revisionBlueButton2 fa-2x" (click)="blueButtonClick()"></i>
  <i class="fas fa-circle incorporacionRedButton2 fa-2x" mdbTooltip="Incorporados" placement="top" (click)="redButtonClick('incorporados')"></i>
  <i class="fas fa-circle incorporacionBlueButton2 fa-2x" (click)="blueButtonClick()" mdbTooltip="Informes" placement="bottom"></i>
  <!-- END ICONS -->

  <div class="arrowBancosSize">
    <img src="assets/images/arrowBancos.png" class="img-fluid" alt="Responsive image">
  </div>
  <div class="arrowERPSize">
    <img src="assets/images/arrow.png" class="img-fluid" alt="Responsive image">
  </div>
  <div class="arrowConcSize">
    <img src="assets/images/arrowConc.png" class="img-fluid" alt="Responsive image">
  </div>
  <div class="arrowResumenSize">
    <img src="assets/images/arrowRevision.png" class="img-fluid" alt="Responsive image">
  </div>
  <div class="arrowIncorSize">
    <img src="assets/images/arrowIncor.png" class="img-fluid" alt="Responsive image">
  </div>
</div>
