<div class="container-fluid bg">
  <!--primera versió-->
  <i class="fas fa-circle bancosRedButton fa-2x"(click)="redButtonClick('bancos')" mdbTooltip="Apuntes" placement="top"></i>
  <i class="fas fa-circle bancosBlueButton fa-2x" (click)="blueButtonClick()" mdbTooltip="Informe" placement="bottom"></i>
  <i class="fas fa-circle ERPRedButton fa-2x" mdbTooltip="Movimientos" placement="top" (click)="redButtonClick('ERP')"></i>
  <i class="fas fa-circle ERPBlueButton fa-2x" (click)="blueButtonClick()" mdbTooltip="Informe" placement="bottom"></i>
  <i class="fas fa-circle conciliacionRedButton fa-2x" mdbTooltip="Conciliados" placement="top" (click)="redButtonClick('conciliados')"></i>
  <i class="fas fa-circle conciliacionBlueButton fa-2x" (click)="blueButtonClick()" mdbTooltip="Informe" placement="bottom"></i>
  <i class="fas fa-circle revisionRedButton fa-2x" (click)="redButtonClick('revision')"></i>
  <i class="fas fa-circle revisionBlueButton fa-2x" (click)="blueButtonClick()"></i>
  <i class="fas fa-circle incorporacionRedButton fa-2x" mdbTooltip="Incorporados" placement="top" (click)="redButtonClick('incorporados')"></i>
  <i class="fas fa-circle incorporacionBlueButton fa-2x" (click)="blueButtonClick()" mdbTooltip="Informe" placement="bottom"></i>
</div>
