<!--Loader-->
<div [hidden]="loaded">
  <app-loading-modal *ngIf="!loaded" class="section-position loader-position"></app-loading-modal>
</div>

<div id="mainContent" class="container-fluid bg section-position" [hidden]="!loaded">
  <form>

    <mdb-breadcrumb customClass="info-color-dark white-text">
      <mdb-breadcrumb-item>Global</mdb-breadcrumb-item>
      <div class="ml-auto mr-4 mb-0">
        <p class="mb-0 customTittlePrestamos">PORTAL LEASINGS</p>
      </div>
      <div class="ml-auto mr-4 mb-0">
        <div><p class="mb-0">{{todaysDate}}</p></div>
      </div>
    </mdb-breadcrumb>

    <div class="row justify-content-end">

      <div class="col-md-3">
        <button mdbBtn type="button" color="mdb-color" class="test" size="sm" [mdbPopover]="PreferencesOn" placement="bottom" mdbWavesEffect>Seleccionar Línea</button>
        <ng-template #PreferencesOn>
          <!-- (change)="ShowAndHide(item, $event)" -->
          <div class="custom-control custom-radio" *ngFor="let item of lineas">
            <div>
              <input type="radio" class="custom-control-input" id={{item.id}} name="defaultExampleRadios" (change)="selectLine(item.linea)" mdbInput>
              <label class="custom-control-label" for={{item.id}}>{{item.linea}}</label>
            </div>

          </div>
        </ng-template>

        <button mdbBtn type="button" color="cyan" class="test" size="sm" (click)="filterClick()" mdbWavesEffect>
          Filtrar
          <i class="fas fa-filter white-text pl-1 ml-1"></i>
        </button>
      </div>
    </div>

    <div class="container-cajitas">
      <div class="row justify-content-center">

        <div class="col-md-3">
          <mdb-card class="mt-3 first-cards-size">
            <mdb-card-body>
              <mdb-card-text>
                <p class="cajita-font-custom text-center">Num. Leasings Activos</p>
                <div>
                  <p class="numero-custom text-center">{{numLeasings}}</p>
                </div>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>

        </div>

        <div class="col-md-3">
          <mdb-card class="mt-3 first-cards-size">
            <mdb-card-body>
              <mdb-card-text>
                <p class="cajita-font-custom text-center">Total Deuda Viva</p>
                <div>
                  <p class="numero-custom text-center">{{totalDeudaViva | number: '1.2-2'}}</p>
                </div>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-3">
          <mdb-card class="mt-3 first-cards-size">
            <mdb-card-body>
              <mdb-card-text>
                <p class="cajita-font-custom text-center">Num. Empresas</p>
                <p class="numero-custom text-center">{{numEmpresas}}</p>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-3">
          <mdb-card class="mt-3 first-cards-size">
            <mdb-card-body>
              <mdb-card-text>
                <p class="cajita-font-custom text-center">Num. Bancos</p>
                <p class="numero-custom text-center">{{numBancos}}</p>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

      </div>
    </div>

    <!--2º Container-->
    <div class="container-cajitas mt-3">
      <div class="row justify-content-center">

        <div class="col-md-9">
          <mdb-card class="mt-3 second-cards-size">
            <mdb-card-body>
              <mdb-card-text>
                <div class="row justify-content-between">
                  <div class="col-md-4">
                    <p class="titleTable ml-2">Leasings</p>
                  </div>
                  <div class="col-md-4">
                    <button mdbBtn type="button" color="mdb-color" class="test" size="sm" mdbWavesEffect>Finalizados</button>
                    <button mdbBtn type="button" color="mdb-color" class="test" size="sm" mdbWavesEffect>Pendientes</button>
                  </div>
                </div>

                <table mdbTable #tableEl="mdbTable" scrollX="true" striped="true" small="true" class="table-responsive-md text-nowrap mt-2" *ngIf="leasings">
                  <thead>
                    <tr>
                      <!--<th>Código Préstamo</th>-->
                      <th><div class="tableHeaders m-0 text-center">Código Leasing</div></th>
                      <th><div class="tableHeaders m-0 text-center">Descripción</div></th>
                      <th><div class="tableHeaders m-0 text-center">Fecha Alta</div></th>
                      <th><div class="tableHeaders m-0 text-center">Fecha Vto.</div></th>
                      <th><div class="tableHeaders m-0 text-center">Nominal</div></th>
                      <th><div class="tableHeaders m-0 text-center">Capital Pendiente</div></th>
                      <th><div class="tableHeaders m-0 text-center">Estado</div></th>
                      <th><div class="tableHeaders m-0 text-center">Empresa</div></th>
                      <th><div class="tableHeaders m-0 text-center">Banco</div></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr mdbTableCol *ngFor="let leasing of leasings; let i = index" class="">
                      <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row" class="prestamo-pointer codigoPrestamo" (click)="onPrestamoClick(prestamo.codser)">{{leasing.codser}}</th>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{leasing.descripcion}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{leasing.fecha1cuota | date:'dd/MM/yyyy'}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{leasing.fechavto | date:'dd/MM/yyyy'}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="text-right">{{leasing.nominal | number: '1.2-2'}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="text-right">{{leasing.calculoCP | number: '1.2-2'}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="text-center"><mdb-badge success="true">{{leasing.estado}}</mdb-badge></td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" mdbTooltip={{leasing.descripcionEmpresa}} placement="bottom">{{leasing.empresa}}</td>
                      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" mdbTooltip={{leasing.descripcionEntidad}} placement="right">{{leasing.entidad}}</td>
                    </tr>
                  </tbody>
                  <tfoot class="w-100">
                    <tr>
                      <td colspan="4">
                        <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="leasings"></mdb-table-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

        <div class="col-md-3">
          <mdb-card class="mt-3 second-cards-size">
            <mdb-card-body>
              <mdb-card-text>

                <div class="row">
                  <div class="col-md">
                    <p class="titleTable ml-2">Reporting</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <p class="ml-3 titulosReporting"><mdb-icon fas icon="circle" class="ml-2 amber-text mr-2"></mdb-icon>Líneas Financieras</p>
                    <div class="ml-5 mb-3">
                      <h1><mdb-badge pill="true" color="amber" class="badgecursor" (click)="onPowerBI()">PowerBI</mdb-badge></h1>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <p class="ml-3 titulosReporting"><mdb-icon fas icon="circle" class="ml-2 stylish-color-text mr-2"></mdb-icon>Informe Préstamos</p>
                    <div class="ml-5 mb-3">
                      <h1><mdb-badge pill="true" color="stylish-color" class="badgecursor" (click)="onReporting()">Reporting</mdb-badge></h1>
                    </div>
                  </div>
                </div>

              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
        </div>

      </div>
    </div>


  </form>
</div>
