<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="bg">
    <mdb-card class="card-width">
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <div style="display:flex">
            <p class="title-card">Procesando...</p>

            <div class="spinner-border ml-5" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <!--<div class="just">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>-->
        </mdb-card-title>
        <mdb-card-text>

              <div class="row mt-2">
                <div class="col ml-2"><p>Relacionando Clientes...</p></div>
                <div class="col ml-3"></div>
              </div>
              <div class="row ml-5">
                <div class="col"><p>Por CIF:</p></div>
                <div class="col"><mdb-icon class="green-text" fas icon="check"></mdb-icon></div>
              </div>
              <div class="row ml-5">
                <div class="col"><p>Por Facturas</p></div>
                <div class="col"><mdb-icon class="green-text" fas icon="check"></mdb-icon></div>
              </div>
              <div class="row ml-5">
                <div class="col"><p>Por Nombre:</p></div>
                <div class="col"><mdb-icon class="green-text" fas icon="check"></mdb-icon></div>
              </div>
              
        </mdb-card-text>
      </mdb-card-body>
    </mdb-card>
  </div>
</body>
</html>
